---
interface Props {
	name: string;
}

const { name } = Astro.props;

let simple = name.split(' ')[0].toLowerCase();
---

<article
	class={`
  	p-2 bg-[--gray] rounded-lg transition-all
    h-full w-full
  `}
>
	<a href=`lore/${simple}`>
		<img
			src=`/img/${simple}/${simple}.png`
			alt={name}
			class='rounded-lg h-full w-full object-cover object-top hover:blur-sm'
		/>
	</a>
</article>
