---
import Layout from "../../layouts/Layout.astro";
import Article from "../../components/Article.astro";
import Section from "../../components/Section.astro";
---

<Layout title="| Capítulo 1">
  <main>
    <Article title="Capítulo 1" img="/img/map/murcia.png" center="top" />
    <p class="m-8 px-14 mx-[10vw] text-justify text-balance mb-4">
      Nos encontramos en las solitarias y tenebrosas tierras de
      <span id="location">Murcia</span>, específicamente
      <span id="date">20 000 años</span>
      después de ███ ███████████ ██████████, también conocida como la creación de
      <span id="event" class="font-bold">Voidegon</span>. En este momento, se
      avecina <span id="event">el renacimiento</span> de uno de los elementos en
      el planeta
      <span id="location">Terra</span>. Sin embargo, este evento parece
      diferente a los █████████ ███████████ ████ ████████ ██ █████████
      ███████████. En esta ocasión, nuestros
      <span id="group">protagonistas</span> tendrán un papel crucial en la dirección
      de la historia, tomando decisiones que modificarán el curso de los acontecimientos.
      Acompáñame en esta aventura para explorar sus elecciones y analizar las consecuencias:
    </p>
    <details
      class="m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform open:mb-8 open:pb-4"
    >
      <summary class="list-none mb-4 text-[--warning]">
        <Section title="Prólogo ~ Nacimiento del Dragón" color="warning" />
        <hr class="w-[60vw] mx-auto p-2 -mt-8" />
      </summary>
      <p class="-mt-8">
        <strong>[Día 0]:</strong>
        Nuestros <span id="group">protagonistas</span>, en busca de su destino,
        han terminado en
        <span id="location">las tierras olvidadas</span>.
        <span id="hint">
          Para conocer detalles específicos de cada uno, consulta sus
          respectivas fichas de personajes
        </span>, pero vamos a introducirlos con un breve resumen:
      </p>

      <ul>
        <li>
          <strong>Baren Valhice</strong>: la semielfa druida, y
          <strong>Enya Fendor</strong>: la enana exploradora, ambas pérdidas en
          los rincones de <span id="location">Terra</span>, buscan refugio en <span
            id="location">Murcia</span
          >.
        </li>

        <li>
          <strong>Kenkart Silkson</strong>, un enano pícaro ladrón cuya única
          meta es acumular riquezas, desterrado de todas partes y sin un lugar
          que lo acoja, acaba en
          <span id="location">Murcia</span> con la esperanza de saquear tierras ya
          despojadas.
        </li>

        <li>
          <strong>Isidoro Matamoros</strong>, un tiefling monje cuyo destino ha
          sido impuesto por sus padres, desterrado por su comportamiento, deberá
          aprender a valorar las cosas, y encontrará en <span id="location"
            >Murcia</span
          > el lugar perfecto para esa lección.
        </li>

        <li>
          <strong>Nyliss Avacyn</strong>, un mago aasimar cuyo destino fue
          forzado, se ve obligada a huir de su mundo y termina sentenciada en un
          lugar donde nunca la encontrarían.
        </li>
      </ul>
      <p class="-mt-4">
        Estos "héroes" convergen en la taberna de
        <span id="location">Murcia</span>, conocida como "The Bold Owl". Ahora,
        enfrentados a un destino compartido, deben tomar decisiones cruciales en
        este nuevo día.
        <br />
        Al despertar en lo que parece su nuevo hogar, todos bajan a la sala principal
        con la esperanza de encontrar algo para comer o beber.
        <strong>Enya</strong>, desesperada por la comida,
        <span id="bad">decide tomar algo sin preguntar</span>. Sin embargo, el
        tabernero se da cuenta de su acción y, en lugar de molestarse, informa
        al grupo que la comida es gratuita, pero antes de intentar robarla,
        deberían intentar pedirla.
        <br />
        El tabernero, un hombre experimentado, decide aprovechar la oportunidad para
        darles una charla sobre la historia de un dragón que está a punto de nacer
        en las montañas cercanas. Este dragón es buscado por muchos, por lo que ofrecen
        una gran cantidad de oro como recompensa por su cabeza. <strong
          >Nyliss</strong
        >, sin sentirse cómoda con el tono del tabernero, <span id="bad"
          >decide amenazarlo</span
        >.
        <br />
        Molesto por ambas situaciones, el tabernero advierte al grupo que deben empezar
        a actuar con más cabeza y menos impulsividad si quieren sobrevivir en estas
        tierras inhóspitas. La advertencia queda flotando en el aire, pues nuestros
        aventureros solo asimilan las palabras del tabernero relacionadas con el
        oro.
      </p>
    </details>
    <details
      class="m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform"
    >
      <summary class="list-none mb-4">
        <Section title="Primer Act ~ Formando Vínculos" />
        <hr class="w-[60vw] mx-auto p-2 -mt-8" />
      </summary>
      <p class="text-justify p-4 px-10 -mt-8 text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
        libero! Excepturi, repellat explicabo perferendis laborum blanditiis
        minus voluptate in id unde ipsam deserunt, amet dolores nihil
        accusantium voluptatum eveniet.
      </p>
    </details>
    <details
      class="m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform"
    >
      <summary class="list-none mb-4">
        <Section title="Segundo Act ~ Asentando Bases" />
        <hr class="w-[60vw] mx-auto p-2 -mt-8" />
      </summary>
      <p class="text-justify p-4 px-10 -mt-8 text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
        libero! Excepturi, repellat explicabo perferendis laborum blanditiis
        minus voluptate in id unde ipsam deserunt, amet dolores nihil
        accusantium voluptatum eveniet.
      </p>
    </details>
    <details
      class="m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform"
    >
      <summary class="list-none mb-4">
        <Section title="Tercer Act ~ Desafios de Tir" />
        <hr class="w-[60vw] mx-auto p-2 -mt-8" />
      </summary>
      <p class="text-justify p-4 px-10 -mt-8 text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
        libero! Excepturi, repellat explicabo perferendis laborum blanditiis
        minus voluptate in id unde ipsam deserunt, amet dolores nihil
        accusantium voluptatum eveniet.
      </p>
    </details>
    <details
      class="m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform"
    >
      <summary class="list-none mb-4 text-[--subtitle]">
        <Section title="Cuarto Act ~ Soledad" color="subtitle" />
        <hr class="w-[60vw] mx-auto p-2 -mt-8" />
      </summary>
      <p class="text-justify p-4 px-10 -mt-8 text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
        libero! Excepturi, repellat explicabo perferendis laborum blanditiis
        minus voluptate in id unde ipsam deserunt, amet dolores nihil
        accusantium voluptatum eveniet.
      </p>
    </details>
    <details
      class="m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform"
    >
      <summary class="list-none mb-4 text-[--grey]">
        <Section title="Quinto Act ~ ?" color="grey" />
        <hr class="w-[60vw] mx-auto p-2 -mt-8" />
      </summary>
      <p class="text-justify p-4 px-10 -mt-8 text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
        libero! Excepturi, repellat explicabo perferendis laborum blanditiis
        minus voluptate in id unde ipsam deserunt, amet dolores nihil
        accusantium voluptatum eveniet.
      </p>
    </details>
  </main>
</Layout>

<style>
  details {
    background-color: var(--gray);
    border-radius: 0.75rem;
    cursor: pointer;
  }

  ul {
    margin: 0 3.5rem;
    list-style: disc;
  }
  ul li {
    margin-bottom: 1rem;
    text-align: justify;
  }

  p {
    padding: 1rem 2.5rem;
    text-align: justify;
  }
</style>
