---
import Layout from '../../layouts/Layout.astro';
import Article from '../../components/Article.astro';
import Section from '../../components/Section.astro';
---

<Layout title='】 Voidegon ▸ Capítulo 1'>
  <main>
    <Article title='Capítulo 1' img='/img/maps/murcia.png' center='top' />
    <p class='m-8 px-14 mx-[10vw] text-justify text-balance mb-4'>
      Nos encontramos en las solitarias y tenebrosas tierras de
      <span id='location'>Murcia</span>, específicamente
      <span id='date'>20.000 años</span>
      después de ███ ███████████ ██████████, también conocida como la creación de
      <span id='event' class='font-bold'>Voidegon</span>. En este momento, se
      avecina <span id='event'>el renacimiento</span> de uno de los elementos en
      el planeta
      <span id='location'>Terra</span>. Sin embargo, este evento parece
      diferente a los █████████ ███████████ ████ ████████ ██ █████████
      ███████████. En esta ocasión, nuestros
      <strong id='heros'>héroes</strong> tendrán un papel crucial en la dirección
      de la historia, tomando decisiones que modificarán el curso de los acontecimientos.
      Acompáñame en esta aventura para explorar sus elecciones y analizar las consecuencias:
    </p>
    <details
      class='m-4 mx-[10vw] shadow-xl transition-transform open:lg:mb-10 open:pb-4'
    >
      <summary class='list-none mb-4 text-[--warning]'>
        <Section title='Prólogo ~ Nacimiento del Dragón' color='warning' />
        <hr class='w-[60vw] mx-auto p-2 -mt-8' />
      </summary>
      <p class='-mt-8'>
        <strong class='text-[--date]'>[Día 0]:</strong>
        Nuestros "<strong id='heros'>héroes</strong>", en busca de su destino,
        han terminado en
        <span id='location'>las tierras olvidadas</span>.
        <span id='hint'>
          Para conocer detalles específicos de cada uno, consulta sus
          respectivas fichas de personajes</span
        >, pero vamos a introducirlos con un breve resumen:
      </p>

      <ul>
        <li>
          <strong id='hero'>Baren Valhice</strong>: la semielfa druida, y
          <strong id='hero'>Enya Fendor</strong>: la enana exploradora, ambas
          pérdidas en los rincones de <span id='location'>Terra</span>, buscan
          refugio en <span id='location'>Murcia</span>.
        </li>

        <li>
          <strong id='hero'>Kenkart Silkson</strong>, un enano pícaro ladrón
          cuya única meta es acumular riquezas, desterrado de todas partes y sin
          un lugar que lo acoja, acaba en
          <span id='location'>Murcia</span> con la esperanza de saquear tierras ya
          despojadas.
        </li>

        <li>
          <strong id='hero'>Isidoro Matamoros</strong>, un tiefling monje cuyo
          destino ha sido impuesto por sus padres, desterrado por su
          comportamiento, deberá aprender a valorar las cosas, y encontrará en
          <span id='location'>Murcia</span> el lugar perfecto para esa lección.
        </li>

        <li>
          <strong id='hero'>Nyliss Avacyn</strong>, un mago aasimar cuyo destino
          fue forzado, se ve obligada a huir de su mundo y termina sentenciada
          en un lugar donde nunca la encontrarían.
        </li>
      </ul>
      <p class='-mt-4'>
        Estos "<strong id='heros'>héroes</strong>" convergen en la taberna de
        <span id='location'>Murcia</span>. Ahora, enfrentados a un destino
        compartido, deben tomar decisiones cruciales en este nuevo día.
        <br />
        Al despertar en lo que parece su nuevo hogar, todos bajan a la sala principal
        con la esperanza de encontrar algo para comer o beber.
        <strong id='hero'>Enya</strong>, desesperada por la comida,
        <span id='bad'>decide tomar algo sin preguntar</span>. Sin embargo, el
        tabernero se da cuenta de su acción y, en lugar de molestarse, informa
        al grupo que la comida es gratuita, pero antes de intentar robarla,
        deberían intentar pedirla.
        <br />
        El tabernero, un hombre experimentado, decide aprovechar la oportunidad para
        darles una charla sobre la historia de un dragón que está a punto de nacer
        en las montañas cercanas. Este dragón es buscado por muchos, por lo que ofrecen
        una gran cantidad de oro como recompensa por su cabeza.
        <strong id='hero'>Nyliss</strong>, sin sentirse cómoda con el tono del
        tabernero,
        <span id='bad'>decide amenazarlo</span>.
        <br />
        Molesto por ambas situaciones, el tabernero advierte al grupo que deben empezar
        a actuar con más cabeza y menos impulsividad si quieren sobrevivir en estas
        tierras inhóspitas. La advertencia queda flotando en el aire, pues nuestros
        aventureros solo asimilan las palabras del tabernero relacionadas con el
        oro.
        <br /><br />
        Decididos a obtener el oro prometido, nuestros
        <strong id='heros'>héroes</strong> se encaminan hacia la aldea en busca de
        una manera de cumplir con la misión. En su trayecto, se cruzan con un par
        de zombis aparentemente inofensivos. A pesar de ello,
        <span id='neutral'>deciden enfrentarse a los no muertos</span> antes de continuar
        hacia la aldea. No desaprovechan la oportunidad y saquean los cuerpos de
        los zombis. Durante esta acción,
        <strong id='hero'>Kenkart</strong> descubre
        <span id='object'>un anillo</span> que captura su atención y
        <span id='bad'>
          decide guardárselo sin compartir la información con el resto del grupo
        </span>. Una vez en la aldea, los <strong id='heros'>héroes</strong> se dirigen
        directamente a <span id='location'>la biblioteca</span>.
        <br /><br />
        Estando en <span id='location'>la biblioteca</span>, nuestros
        <strong id='heros'>héroes</strong> se topan con un montón de libros en mal
        estado. Revisando dichos libros para encontrar alguna respuesta, escuchan
        una voz aterradora alertando a nuestros
        <strong id='heros'>héroes</strong> que se alejen de allí. Sin embargo, encuentran
        la fuente de esa voz, que resulta ser una pequeña araña con poderes psíquicos.
        Después de una conversación con la araña, esta decide ayudar a nuestros
        <strong id='heros'>héroes</strong> otorgándoles un papel con respuestas.
        <span id='hint'
          >("Ojala un heroe lo pueda parar, pues su muerte la catastrofe
          traerá")
        </span>
        <br />
        <strong id='hero'>Kenkart</strong>, con un miedo irracional hacia las
        arañas,
        <span id='bad'>decide asesinarla brutalmente</span>, lo que hace que
        <strong id='hero'>Baren</strong>, amante de los animales, se entristezca
        y enfurezca con
        <strong id='hero'>Kenkart</strong>.
        <br />
        Nuestros <strong id='heros'>héroes</strong>, sin saber qué hacer con el
        papel, deciden preguntar a un par de enanos que pasaban por allí. Uno de
        los enanos les da una respuesta, pero a cambio decide quedarse con el
        papel.
        <br />
        <strong id='hero'>Nyliss</strong>, llena de odio, decide coger al enano
        y elevarlo a una altura suficiente como para que la caída acabe con el
        enano. <strong id='hero'>Nyliss</strong>, sin una pizca de bondad o
        paciencia,
        <span id='bad'>acaba soltando al enano, acabando con su vida</span> y cogiendo
        el papel del cadáver. El otro enano, asustado y temblando, decide irse para
        alertar el comportamiento de los <strong id='heros'>héroes</strong> a los
        habitantes de <span id='location'>Murcia</span>.
        <strong id='hero'>Kenkart</strong> e <strong id='hero'>Isidoro</strong>
        <span id='bad'>saquean el cuerpo del enano muerto</span> antes de que este
        sea engullido por la tierra, pero no parece que a nadie le importe este suceso.
        Nuestros <strong id='heros'>héroes</strong> deciden seguir adelante
        <span id='bad'>sin importarles nada en absoluto</span>.
        <br /><br />

        Estando de camino, se topan con una <span id='location'>iglesia</span> aparentemente
        pequeña. <strong id='hero'>Nyliss</strong> decide quedarse afuera para estudiar,
        mientras que el resto entra en busca de algo interesante. Al adentrarse,
        descubren un pasillo enorme con una vidriera gigantesca al fondo. Frente
        a la vidriera, encuentran un atril con un libro. Sorprendentemente,
        <span id='location'>la iglesia</span> es mucho más grande por dentro en comparación
        con su apariencia exterior. Sin embargo,
        <span id='neutral'>
          parece que a nuestros
          <strong id='heros'>héroes</strong> no les preocupa en absoluto</span
        >, y se acercan a leer el libro del atril.
        <br />
        <span id='hint'>
          ("Al leer esto, el espíritu vendrá; el agua bendita deberás usar")
        </span>
        <br />
        De repente, un <span id='monster'>espiritu</span> maligno aparece ante ellos.
        Rápidamente, nuestros
        <strong id='heros'>héroes</strong> toman agua bendita y se la echan encima.
        Sin embargo, esto solo empeora las cosas, ya que
        <span id='bad'>
          el <span id='monster'>espiritu</span> se enfada y cierra puertas y ventanas.
        </span>
        <span id='neutral'>
          <strong id='hero'>Enya</strong> logra escapar antes de que esto suceda</span
        >, pero el resto de nuestros <strong id='heros'>héroes</strong> quedan aislados
        y una neblina negra los engulle poco a poco. <br />
        Sin saber qué hacer, nuestros <strong id='heros'>héroes</strong> buscan una
        salida. Había una trampilla en uno de los pilares, y deciden bajar por ella.
        Al hacerlo, se encuentran un cofre. Intentan abrirlo, pero resulta ser un
        <span id='monster'>mimo</span>, un ser que adopta cualquier forma.
        Nuestros <strong id='heros'>héroes</strong>
        <span id='neutral'>rápidamente le golpean</span>, a lo que el
        <span id='monster'>mimo</span> responde:
        <span id='phrase'
          >"Se puede saber qué coño hacéis pegándome sin más, las respuestas
          debajo mía tenéis que buscar, insensatos"</span
        >. Pues debajo del <span id='monster'>mimo</span> se encontraba una frase.
        <span id='hint'>
          ("El objetivo no es el que crees, pues alguien tendrá que beber")
        </span>
        <br />
        Mientras <strong id='hero'>Baren</strong> corre a buscar algo de agua bendita
        sobrante, <strong id='hero'>Enya</strong> intenta buscar la forma de romper
        la ventana para que el resto pueda escapar.
        <span id='good'>
          <strong id='hero'>Enya</strong> y <strong id='hero'>Baren</strong> consiguen
          sus objetivos</span
        >, y todos logran escapar, pero <strong id='hero'>Isidoro</strong>
        y <strong id='hero'>Kenkart</strong> deciden quedarse atrás al descubrir
        que el archimago <span id='name'>Azrael</span> había estado detrás de todo
        esto.
        <strong id='hero'>Kekanrt</strong> descubre que la araña que mató era suya
        y, viendo su increíble poder, decide huir.
        <strong id='hero'>Isidoro</strong>, por otro lado, al ver dicho poder,
        <span id='bad'>decide trabajar para él y traicionar a su equipo</span>.
        Después del revuelo, finalmente deciden partir hacia la
        <span id='location'>Cueva del Dragón</span>.
        <br /><br />
        Al llegar a la <span id='location'>Cueva del Dragón</span>, nuestros <strong
          id='heros'>héroes</strong
        > se topan con una estructura enorme de mármol encima de unas aguas, deciden
        darse una vuelta para investigar.
        <strong id='hero'>Baren</strong> encuentra una bolsa de
        <span id='gold'>25 monedas de oro</span>, a lo que
        <span id='bad'>
          <strong id='hero'>Kenkart</strong> se da cuenta y decide ir a robárselo</span
        >.
        <strong id='hero'>Baren</strong>
        intenta evitarlo y
        <span id='bad'>
          <strong id='hero'>Kenkart</strong> decide agarrar su ballesta y meterle
          un flechazo por la espalda, dejando inconsciente a <strong id='hero'
            >Baren</strong
          ></span
        >. Por suerte,
        <strong id='hero'>Baren</strong> se levanta como si nada gracias al agua
        bendita que bebió en la Iglesia.
        <strong id='hero'>Baren</strong>, frustrada y cabreada aún más con
        <strong id='hero'>Kenkart</strong>, toma la decisión de que
        <span id='pet'>Zoe</span> (el perro de
        <strong id='hero'>Kenkart</strong>) no estaba a salvo a su lado y que
        haría lo que fuese para quedárselo.
        <br />
        Avanzando por la cueva, <strong id='hero'>Nyliss</strong> encuentra una estatua
        de una sirena con una frase escrita <span id='phrase'
          >("Si mi reflejo consigues mirar...")</span
        >. Al mirar su reflejo, se da cuenta de que la frase cambia
        <span id='phrase'>("Un poder divino obtendrás")</span>, otorgándole así
        un poder misterioso a
        <strong id='hero'>Nyliss</strong>.
        <br /><br />
        Ya explorada la zona, nuestros <strong id='heros'>héroes</strong> deciden
        ingresar a la imponente estructura de mármol que se encuentra frente a ellos.
        Al entrar, se encuentran con <span id='deity'>un dragón blanco</span> en
        el centro, con un enorme agujero a sus espaldas que conduce al exterior de
        las montañas. A la izquierda, está el archimago
        <span id='name'>Azrael</span>, y a la derecha, el kenku
        <span id='name'>Kal'El</span>.
        <span id='name'>Kal'El</span> afirma querer matar al dragón, mientras que
        <span id='name'>Azrael</span> desea someterlo bajo su control. Bajo la incertidumbre
        de a quién apoyar, se desata una batalla descontrolada:
        <ul>
          <li>
            <span id='bad'>
              El dragón se altera y comienza a atacar a todos</span
            >.
          </li>
          <li>
            <span id='good'>
              <strong id='hero'>Baren</strong> intenta tranquilizar al dragón</span
            >.
          </li>
          <li>
            <span id='neutral'>
              <strong id='hero'>Nyliss</strong> ataca al archimago</span
            >.
          </li>
          <li>
            <span id='neutral'>
              <strong id='hero'>Enya</strong> ataca al kenku</span
            >.
          </li>
          <li>
            <span id='bad'>
              <strong id='hero'>Isidoro</strong> ataca a <strong id='hero'
                >Nyliss</strong
              >
              para defender al archimago</span
            >.
          </li>
          <li>
            <span id='bad'>
              <strong id='hero'>Kenkart</strong> ataca a <strong id='hero'
                >Nyliss</strong
              >
              por haberle cegado</span
            >.
          </li>
          <li>
            <span id='name'>Azrael</span> contraataca a <strong id='hero'
              >Nyliss</strong
            > mientras
            <span id='name'>Kal'El</span> observa impasible a pesar de los golpes
            de <strong id='hero'>Enya</strong>.
          </li>
          <li>
            <span id='bad'>
              Entre <strong id='hero'>Kenkart</strong> e <strong id='hero'
                >Isidoro</strong
              > noquean a <strong id='hero'>Nyliss</strong></span
            >.
          </li>
          <li>
            <span id='good'>
              <strong id='hero'>Baren</strong> ayuda a <strong id='hero'
                >Nyliss</strong
              > a recuperar el conocimiento</span
            >.
          </li>
          <li>
            <span id='bad'>
              <strong id='hero'>Baren</strong> resulta noqueada por el dragón</span
            >.
          </li>
          <li>
            <span id='good'>
              <strong id='hero'>Nyliss</strong> ayuda a <strong id='hero'
                >Baren</strong
              > a reponerse</span
            >.
          </li>
          <li>
            <span id='name'>Kal'El</span>, cansado de la situación, envuelve
            todo el campo de batalla en una neblina negra, dejando a todos
            inmóviles. Con la situación "en calma", <span id='name'>Kal'El</span
            > decide llevarse al dragón consigo, engulléndolo en la niebla negra.
          </li>
          <li>
            <span id='name'>Azrael</span>, enfadado por su derrota, se retira.
          </li>
          <li>
            <strong id='hero'>Nyliss</strong> se va volando del campo de batalla
            para evitar más conflictos, y al hacerlo, <span id='bad'
              ><strong id='hero'>Kenkart</strong> intenta dispararle con la ballesta</span
            >, pero falla.
          </li>
          <li>
            <span id='name'>Kal'El</span> decide marcharse, e <strong id='hero'
              >Isidoro</strong
            > es abandonado a su suerte por <span id='name'>Azrael</span>.
          </li>
          <li>
            El resto del grupo decide retirarse a la taberna para descansar y
            reflexionar sobre este día...
          </li>
        </ul>
      </p>
    </details>
  </main>
</Layout>
<details
  class='m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform open:pb-4'
>
  <summary class='list-none mb-4'>
    <Section title='Primer Acto ~ Formando Vínculos' />
    <hr class='w-[60vw] mx-auto p-2 -mt-8' />
  </summary>
  <p class='text-justify p-4 px-10 -mt-8 text-pretty'>
    <strong class='text-[--date]'>[Día 1]:</strong> Nuestros
    <strong id='heros'>héroes</strong> despiertan en un nuevo día, agotados por lo
    sucedido el día anterior, bajan a desayunar en
    <span id='location'>la taberna</span>. En busca de nuevas misiones, ven el
    tablón de anuncios junto a la barra con dos misiones: una de derrotar a los
    <span id='monster'>zombis</span> que merodean las murallas, y otra de encontrar
    una flor muy rara que solo florece en las tierras muertas .
    <br />
    <strong id='character'>Kenkart</strong> sale de
    <span id='location'>la taberna</span> para ir a matar a los
    <span id='monster'>zombis</span> de la muralla, pero al salir se da cuenta de
    que <span id='pet'>Zoe</span> está muy enferma y algo grave le sucede. Desesperado
    por ayudar a su perro, corre a hablar con
    <strong id='character'>Baren</strong>. La druida no está muy contenta con
    los cuidados que le da
    <strong id='character'>Kenkart</strong> a
    <span id='pet'>Zoe</span>, pero aun así decide ayudarlo y hará lo posible
    por curar a <span id='pet'>Zoe</span>.
    <br /><br />
    <strong id='hero'>Baren</strong> y <strong id='hero'>Enya</strong> optan por
    buscar la flor muerta negra, mientras que
    <strong id='hero'>Isidoro</strong> y
    <strong id='hero'>Kenkart</strong> se dirigen a enfrentar a los
    <span id='monster'>zombis</span>. Una vez en las murallas,
    <strong id='hero'>Isidoro</strong> y <strong id='hero'>Kenkart</strong> descubren
    que los <span id='monster'>zombis</span> simplemente deambulan sin atacar. Al
    notar su falta de agresividad,
    <span id='good'>
      deciden abstenerse de atacarlos y buscar la razón detrás de la presencia
      masiva de
      <span id='monster'>zombis</span> en la zona</span
    >.
  </p>
</details>
<details class='m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform'>
  <summary class='list-none mb-4'>
    <Section title='Segundo Act ~ Asentando Bases' />
    <hr class='w-[60vw] mx-auto p-2 -mt-8' />
  </summary>
  <p class='text-justify p-4 px-10 -mt-8 text-pretty'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
    libero! Excepturi, repellat explicabo perferendis laborum blanditiis minus
    voluptate in id unde ipsam deserunt, amet dolores nihil accusantium
    voluptatum eveniet.
  </p>
</details>
<details class='m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform'>
  <summary class='list-none mb-4 text-[--subtitle]'>
    <Section title='Tercer Act ~ Desafios de Tir' color='subtitle' />
    <hr class='w-[60vw] mx-auto p-2 -mt-8' />
  </summary>
  <p class='text-justify p-4 px-10 -mt-8 text-pretty'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
    libero! Excepturi, repellat explicabo perferendis laborum blanditiis minus
    voluptate in id unde ipsam deserunt, amet dolores nihil accusantium
    voluptatum eveniet.
  </p>
</details>
<details class='m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform'>
  <summary class='list-none mb-4 text-[--subtitle]'>
    <Section title='Cuarto Act ~ Soledad' color='subtitle' />
    <hr class='w-[60vw] mx-auto p-2 -mt-8' />
  </summary>
  <p class='text-justify p-4 px-10 -mt-8 text-pretty'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
    libero! Excepturi, repellat explicabo perferendis laborum blanditiis minus
    voluptate in id unde ipsam deserunt, amet dolores nihil accusantium
    voluptatum eveniet.
  </p>
</details>
<details class='m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform'>
  <summary class='list-none mb-4 text-[--grey]'>
    <Section title='Quinto Act ~ Soledad II' color='subtitle' />
    <hr class='w-[60vw] mx-auto p-2 -mt-8' />
  </summary>
  <p class='text-justify p-4 px-10 -mt-8 text-pretty'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
    libero! Excepturi, repellat explicabo perferendis laborum blanditiis minus
    voluptate in id unde ipsam deserunt, amet dolores nihil accusantium
    voluptatum eveniet.
  </p>
</details>
<!-- Sexto Acto -->
<details class='m-4 mx-[10vw] shadow-xl open:scale-105 transition-transform'>
  <summary class='list-none mb-4 text-[--grey]'>
    <Section title='Sexto Act ~ ???' color='grey' />
    <hr class='w-[60vw] mx-auto p-2 -mt-8' />
  </summary>
  <p class='text-justify p-4 px-10 -mt-8 text-pretty'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quas
    libero! Excepturi, repellat explicabo perferendis laborum blanditiis minus
    voluptate in id unde ipsam deserunt, amet dolores nihil accusantium
    voluptatum eveniet.
  </p>
</details>

<style>
  details {
    background-color: var(--gray);
    border-radius: 0.75rem;
    cursor: pointer;
  }
  details[open] {
    transform: scale(1.01);
  }

  ul {
    margin: 0 3.5rem;
    list-style: disc;
  }
  ul li {
    margin-bottom: 1rem;
    text-align: justify;
  }

  p {
    padding: 1rem 2.5rem;
    text-align: justify;
  }
</style>
