---
import Layout from '../../layouts/Layout.astro';
import Article from '../../components/Title-XL.astro';
import Section from '../../components/Section.astro';
import Menu from '../../layouts/Menu.astro';
import SmallCard from '../../components/SmallCard.astro';

// Little Components
import HR from '../../components/little/HR.astro';
---

<Layout title='】 Voidegon ▸ Murcia'>
	<Article title='Murcia' img='/img/maps/murcia.png' />
	<Section title='Locales' />
	<Menu>
		<SmallCard
			name='Taberna'
			img='/img/maps/murcia/tavern.png'
			enlace='murcia/tavern'
		/>
		<SmallCard
			name='Biblioteca'
			img='https://i.pinimg.com/564x/8d/db/13/8ddb136a875b1cf3f98e74188476e8e7.jpg'
			center='bottom'
		/>
		<SmallCard
			name='Iglesia'
			img='/img/maps/murcia/church.png'
			enlace='murcia/church'
		/>
		<SmallCard
			name='Forja'
			img='https://i.pinimg.com/564x/5c/8c/db/5c8cdbf9b3c32c46e6aab0d01f149e49.jpg'
		/>
		<SmallCard
			name='Almacen'
			img='https://i.pinimg.com/564x/92/2c/57/922c57e0e98a5d615e1274fdc9ad96a3.jpg'
			lock
		/>
		<SmallCard
			name='Tienda de Pociones'
			img='https://i.pinimg.com/564x/c4/35/10/c43510f0e202a5d480ebfae7f795ca1a.jpg'
			lock
		/>
	</Menu>
	<HR />
	<Section title='Ubicaciones' />
	<Menu>
		<SmallCard
			name='Cueva'
			enlace='maps/murcia/cave'
			img='https://i.pinimg.com/564x/53/ee/50/53ee509c9551e1ef2dda6a1e8fa8c84a.jpg'
		/>
		<SmallCard
			name='Bosque'
			enlace='maps/murcia/cave'
			img='https://i.pinimg.com/564x/5a/4c/1d/5a4c1d06a295b8cbe01e566cb80aa36b.jpg'
			center='bottom'
		/>
		<SmallCard
			name='Mazmorra'
			enlace='maps/murcia/cave'
			img='https://i.pinimg.com/564x/0f/5a/94/0f5a942aa3c1ee851a2a3296e6bb4480.jpg'
		/>
		<SmallCard
			name='Jardin'
			enlace='maps/murcia/cave'
			img='https://i.pinimg.com/564x/77/f1/a4/77f1a40dd54fcb97faafecfc9a8626d6.jpg'
		/>
	</Menu>
	<div class='bg-[--gray]'>
		<!-- Fragmento de Historia -->
	</div>
</Layout>
