---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Hearts from '@/components/character/npc/Hearts.astro';
import Portrait from '@/components/character/npc/Portrait.astro';
---

<Layout title='】 Voidegon ▸ Rel'>
  <Name name='Rel' />
  <article
    class={`
			w-[80vw] mx-auto
			grid grid-cols-6
			gap-2
		`}
  >
    <section class='col-span-6'>
      <Hearts level={0} />
    </section>
    <section class='col-span-2'>
      <Portrait src='/img/npc/tir/rel/rel.png' />
    </section>
  </article>
</Layout>
