---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Hearts from '@/components/character/npc/Hearts.astro';
import Portrait from '@/components/character/npc/Portrait.astro';
---

<Layout title='】 Voidegon ▸ Tir'>
  <Name name='Tir' />
  <article
    class={`
      w-[80vw] mx-auto
      grid grid-cols-6 gap-2
    `}
  >
    <sectionn class='col-span-6'>
      <Hearts level={-1} />
    </sectionn>
    <section class='col-span-2'>
      <h3>Dwarf</h3>
      <div class='flex gap-8'>
        <h3>80 kg</h3>
        <h3>152 cm</h3>
      </div>
    </section>
    <section class='col-span-2'>
      <Portrait src='/img/npc/tir/tir.png' alt='Tir' />
    </section>
    <section class='col-span-2'>
      <h3>Blacksmith</h3>
    </section>
  </article>
</Layout>

<style>
  section:has(h3) {
    background-color: var(--gray);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-family: 'lobster';
    color: var(--subtitle);

    cursor: default;
  }

  div:has(h3) {
    background-color: var(--dark);
    padding: 0.5rem;
    margin: 0.5rem;

    border-radius: 0.5rem;
  }

  section > h3 {
    font-size: 1.25rem;
  }
</style>
