---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Amistad from '@/components/personaje/pnj/Amistad.astro';
// Importar los datos de los PNJs
import pnj from '@/data/personajes/pnjs/pnjs.json';
import Retrato from '@/components/personaje/pnj/Retrato.astro';
// Buscar a Var en la lista de PNJs
const varJSON = pnj.find((personaje: any) => personaje.nombre === 'Var');
---

<Layout title='】 Voidegon ▸ var'>
  <Name
    name={varJSON?.nombre}
    img={varJSON?.ruta + 'bg_var.png'}
    center='top'
    opacity={0.6}
  />
  <main
    class={`
				w-[80vw] mx-auto
			`}
  >
    <article
      class={`
        grid grid-cols-3
      `}
    >
      <section class='col-span-1'>
        <Amistad
          amistad={varJSON?.amistad}
          amistad_max={varJSON?.amistad_max}
        />
      </section>
      <section class='col-span-1'>
        <Retrato img={varJSON?.ruta + 'var.png'} />
      </section>
      <section>
        <!-- Raza y Rol -->
      </section>
    </article>
  </main>
</Layout>

<style>
  section {
    padding: 0.25rem;
  }
</style>
