---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
import Experience from '../../components/Experience.astro';
import Stats from '../../components/Stats.astro';
import Skills from '../../components/Skills.astro';
import Section from '../../components/Section.astro';

// Los parametros hay que pasarselos por TypeScript para hacer calculos externos individuales de cada personaje.
---

<Layout title='| Isidoro Matamoros'>
  <Title title='Isidoro Matamoros' img='/img/isidoro/bg_isidoro.png' />
  <main
    class={`
    	grid grid-cols-6 grid-flow-row-dense gap-4
    	mx-auto w-[80vw]
  	`}
  >
    <div class='col-span-6 mt-4 w-full'>
      <Experience race='Tiefling' rol='Monk' exp={355} />
    </div>
    <div class='col-span-2 row-span-1' id='dark'>
      <Stats
        fue={14}
        des={18}
        con={12}
        int={10}
        sab={10}
        car={8}
        mod={[0, 0, 0, 1, 0, 2]}
        com={[1, 1, 0, 0, 0, 0]}
        modcom={2}
      />
    </div>
    <div class='col-span-2 row-span-2 size-fit'>
      <a href='/characters/isidoro_lore' class='w-full'>
        <img
          src='/img/isidoro/isidoro.png'
          alt='Isidoro Matamoros'
          class='rounded-xl size-fit'
        />
      </a>
    </div>
    <div class='col-span-2 row-span-2'>
      <Section title='Resistencias' />
    </div>
    <div class='col-span-1'>
      <Section title='Velocidad' />
    </div>
    <div class='col-span-1'>
      <Section title='Competencias' />
    </div>
    <div class='col-span-6 p-8'>
      <Section title='Habilidades' />
      <Skills com={[]} punt={[]} modcom={2} />
    </div>
  </main>
</Layout>

<style></style>
