---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import Info from "../../components/Info.astro";
import Stats from "../../components/Stats.astro";
import Skills from "../../components/Skills.astro";
---

<Layout title="">
  <Title title="Isidoro Matamoros" img="/img/isidoro/bg_isidoro.png" />
  <Info clase="Monje" level={2} exp={355} />
  <div class="flex justify-center mx-[40%]">
    <Stats
      fue={16}
      des={16}
      con={12}
      int={10}
      sab={10}
      car={8}
      mod={[1, 0, 0, 0, 0, 2]}
      com={[0, 0, 0, 0, 1, 1]}
      modcom={2}
    />
  </div>
  <div class="flex justify-center mx-[40%]">
    <Skills />
  </div>
</Layout>

<style>
  div {
    border: solid 5px var(--white);
  }
</style>
