---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
import Stats from '../../components/Stats.astro';
import Money from '../../components/Money.astro';
import Experience from '../../components/Experience.astro';
---

<Layout title='】 Voidegon ▸ Kriv Coppernico'>
  <Title title='Kriv Coppernico' />
  <main
    class={`
    w-[80vw] mx-auto m-4
    grid grid-cols-6
    
  `}
  >
    <div>
      <Stats
        fue={16}
        des={6}
        con={14}
        int={8}
        sab={12}
        car={16}
        mod={[2, 0, 0, 0, 0, 1]}
        com={[0, 0, 0, 0, 1, 1]}
        modcom={2}
      />
    </div>
    <div class='w-[80vw]'>
      <Money pc={100} pp={0} pe={16} po={2} ppt={0} />
    </div>
    <section class='col-span-6'>
      <Experience race='Dragonborn' rol='Paladin' exp={345} />
    </section>
  </main>
</Layout>
