---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
//
import Experience from '../../components/Experience.astro';
//
---

<Layout title="】 Voidegon ▸ Lion'El Jonson">
  <Title title="Lion'El Jonson" />
  <main>
    <article>
      <section>
        <Experience exp={0} race='Leonin' rol='Barbarian' />
      </section>
    </article>
  </main>
</Layout>
