---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
import Stats from '../../components/Stats.astro';
import Money from '../../components/Money.astro';
import Experience from '../../components/Experience.astro';
---

<Layout title='Nyliss  Avacyn'>
  <Title
    title='Nyliss Avacyn'
    img='https://www.shutterstock.com/image-vector/angel-wings-illustration-vector-desing-600nw-2289365543.jpg'
    center='center'
  />
  <main
    class={`
    w-[80vw] mx-auto m-4
    grid grid-cols-6 grid-flow-row-dense
    gap-4 justify-center
  `}
  >
    <section class='col-span-6'>
      <Experience race='Aasimar' rol='Wizard' exp={245} start={1} />
    </section>
    <section class='col-span-4 mx-8'>
      <img
        src='/img/nyliss/nyliss.png'
        alt='Nyliss Avacyn'
        class='rounded-2xl size-fit'
      />
    </section>
    <div class='col-span-2 m-4'>
      <Stats
        fue={10}
        des={14}
        con={10}
        int={16}
        sab={14}
        car={8}
        mod={[1, 0, 0, 0, 0, 2]}
        com={[0, 0, 0, 1, 1, 0]}
        modcom={2}
      />
    </div>

    <div class='col-span-2 row-span-4 w-full'>
      <Money pc={2} pp={21} pe={6} po={13} ppt={0} />
    </div>
  </main>
</Layout>

<style>
  main > div {
    border-radius: 1rem;
  }
</style>
