---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import MainTitle from "../../components/MainTitle.astro";
import Menu from "../../layouts/Menu.astro";
import Stats from "../../components/Stats.astro";
import Skills from "../../components/Skills.astro";
---

<Layout title="">
  <Header />
  <Menu title="Tablas" subtitle="" />
  <div class="flex justify-center mx-[40%]">
    <Stats
      fue={18}
      des={18}
      con={12}
      int={10}
      sab={8}
      car={8}
      mod={[1, 0, 0, 3, 0, 2]}
      com={[0, 1, 0, 0, 1, 1]}
    />
  </div>
  <div class="flex justify-center mx-[40%]">
    <Skills />
  </div>
</Layout>

<style>
  div {
    border: solid 5px var(--white);
  }
</style>
