---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='】 Voidegon ▸ Error 404'>
  <main class='flex justify-center flex-col items-center'>
    <svg
      class='text-red-600 mb-4'
      width='50'
      height='50'
      viewBox='0 0 24 24'
      stroke-width='1.5'
      stroke='currentColor'
      fill='none'
      stroke-linecap='round'
      stroke-linejoin='round'
      ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
        d='M12 9v4'></path><path
        d='M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z'
      ></path><path d='M12 16h.01'></path>
    </svg>
    <h1 class='text-6xl text-red-600 uppercase'>Alerta</h1>
    <p class='text-center mt-6 w-96 text-pretty font-[nunito] font-medium'>
      Estas al borde del abismo, vas ha desbanecerte en el vacio eterno de
      Voidegon. Date la vuelta antes de que sea demasiado tarde para
      recuperarte.
    </p>
  </main>
</Layout>

<style>
  /** Title Artistic Font: Moirai One */
  @import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

  h1 {
    font-family: 'Moirai One', system-ui;
    font-weight: 900;
  }

  body {
    overflow-y: hidden;
  }
  main {
    background: url('/img/background.png') center/cover;
    height: 100dvh;
  }

  img {
    width: 10vw;
    margin: 0 auto;
    padding: 2rem;
  }

  @media (max-width: 600px) {
    h1 {
      text-align: center;
      margin: 1rem;
    }
    main {
      background:;
    }
    p {
      margin: 1rem;
      text-wrap: balance;
    }
  }
</style>
