---
// Main Components
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
import Section from '../components/Section.astro';
import Menu from '../layouts/Menu.astro';
import Card from '../components/Card.astro';
import SmallCard from '../components/SmallCard.astro';

// Little Components
import HR from '../components/little/HR.astro';
---

<Layout title='】 Voidegon ▸ Personajes'>
	<main>
		<Article title='Personajes' opacity={0.25} />
		<Section title='Heroes de Voidegon' subtitle='Forjados en Murcia' />
		<Menu>
			<Card
				name='Astra Starlink'
				img='/img/astra/astra.png'
				enlace='/characters/astra'
			/>
			<Card
				name='Baren Valhice'
				img='/img/baren/baren.png'
				enlace='/characters/baren'
			/>
			<Card
				name='Enya Fendor'
				img='/img/enya/enya.png'
				enlace='/characters/enya'
			/>
			<Card
				name='Isidoro Matamoros'
				img='/img/isidoro/isidoro.png'
				enlace='/characters/isidoro'
			/>
			<Card
				name='Kenkart Silkson'
				img='/img/kenkart/kenkart.png'
				enlace='/characters/kenkart'
			/>
			<Card
				name='Kriv Coppernico'
				img='/img/kriv/kriv.png'
				enlace='/characters/kriv'
			/>
			<Card
				name="Lion'El Jonson"
				img='/img/lionel/lionel.png'
				enlace='/characters/lionel'
			/>
			<Card
				name='Nyliss Avacyn'
				img='/img/nyliss/nyliss.png'
				enlace='/characters/nyliss'
			/>
		</Menu>
		<Section title='Rostros Conocidos' subtitle='Travesía en Murcia' />
		<Menu>
			<Card
				name='Almawrid'
				img='/img/npc/almawrid/almawrid.png'
				enlace='/characters/npc/almawrid'
			/>
			<Card
				name='Arnold'
				img='/img/npc/arnold/arnold.png'
				enlace='/characters/npc/arnold'
			/>
			<Card
				name="Kal'El"
				img='/img/npc/kalel/kalel.png'
				enlace='/characters/npc/kalel'
			/>
			<Card
				name='Azrael'
				img='/img/npc/kelthuzad/azrael.png'
				enlace='/characters/npc/azrael'
			/>
		</Menu>
		<Section subtitle='Los Enanos de Murcia' />
		<div class='pb-6'>
			<Menu>
				<Card
					name='Var'
					img='/img/npc/tir/var/var.png'
					enlace='/characters/npc/var'
				/>
				<Card
					name='Rel'
					img='/img/npc/tir/rel/rel.png'
					enlace='/characters/npc/rel'
				/>
				<Card
					name='Tir'
					img='/img/npc/tir/tir.png'
					enlace='/characters/npc/tir'
				/>
				<div class='saturate-0 hover:saturate-100'>
					<Card
						name='Kor'
						img='/img/npc/tir/kor/kor.png'
						enlace='/characters/npc/kor'
					/>
				</div>
				<Card
					name='Mun'
					img='/img/npc/tir/mun/mun.png'
					enlace='/characters/npc/mun'
				/>
				<div class='blur-sm hover:blur-none'>
					<Card lock />
				</div>
			</Menu>
		</div>
		<article
			class={`
				bg-[--gray] w-[90vw] mx-auto
				rounded-lg
			`}
		>
			<Section title='Rostros Efímeros' subtitle='Travesía en Murcia' />
			<Menu>
				<div class='blur-sm hover:blur-none'>
					<SmallCard lock />
				</div>
			</Menu>
		</article>
	</main>
</Layout>
