---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import Section from "../components/Section.astro";
import Menu from "../layouts/Menu.astro";
import Card from "../components/Card.astro";
---

<Layout title="| Personajes">
  <main>
    <Article title="Personajes" opacity={0} />
    <Section title="Personajes Jugables" />
    <Menu>
      <Card
        name="Baren Valhice"
        img="/img/baren/baren.png"
        enlace="/characters/baren"
      />
      <Card
        name="Enya Fendor"
        img="/img/enya/enya.png"
        enlace="/characters/enya"
      />
      <Card
        name="Isidoro Matamoros"
        img="/img/isidoro/isidoro.png"
        enlace="/characters/isidoro"
      />
      <Card
        name="Kenkart Silkson"
        img="/img/kenkart/kenkart.png"
        enlace="/characters/kenkart"
      />
      <Card
        name="Kriv Coppernico"
        img="/img/kriv/kriv.png"
        enlace="/characters/kriv"
      />
      <Card
        name="Nyliss Avacynn"
        img="/img/nyliss/nyliss.png"
        enlace="/characters/nyliss"
      />
    </Menu>
    <Section title="Personajes No Jugables" subtitle="Protagonistas" />
    <Menu>
      <Card
        name="Almawrid"
        img="/img/isidoro.png"
        enlace="/characters/isidoro"
      />
    </Menu>
  </main>
</Layout>
