---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";
import Section from "../components/Section.astro";
import Menu from "../layouts/Menu.astro";
import Card from "../components/Card.astro";
---

<Layout title="| Diarios">
  <Header />
  <main>
    <Article
      title="Diarios de Viaje"
      img="/img/bg_diaries.png"
      center="center"
      opacity={0.75}
    />
    <Section title="Capítulo 1" subtitle="La Tierra Olvidada" />
    <Menu>
      <Card
        img="/img/baren_book.png"
        name="Baren Valhice"
        enlace="diaries/baren_diary"
      />
      <Card
        img="/img/enya_book.png"
        name="Enya Fendor"
        enlace="diaries/enya_diary"
      />
      <Card
        img="/img/isidoro_book.png"
        name="Isidoro Matamoros"
        enlace="diaries/isidoro_diary"
      />
      <Card
        img="/img/kenkart_book.png"
        name="Kenkart Silkson"
        enlace="diaries/kenkart_diary"
      />
      <Card
        img="/img/kriv_book.png"
        name="Kriv Coppernico"
        enlace="diaries/kriv_diary"
      />
      <Card
        img="/img/nyliss_book.png"
        name="Nyliss Avacynn"
        enlace="diaries/nyliss_diary"
      />
    </Menu>
  </main>
</Layout>

<style></style>
