---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
import Menu from '../layouts/Menu.astro';
import Card from '../components/Card.astro';
---

<Layout title='】 Voidegon ▸ Diarios'>
  <main>
    <Article
      title='Diarios de Viaje'
      img='/img/bg_diaries.png'
      center='center'
      opacity={0.75}
    />
    <div
      class={`
      bg-[--gray] text-center w-[80vw] mx-auto m-4 p-4
      rounded-lg hover:scale-105 transition-all
      cursor-pointer shadow-lg hover:bg-[--black]
    `}
    >
      <a href='/diaries/cap-1'>
        <h1 class='text-[--title] font-[pacifico] text-2xl'>Capítulo 1</h1>
      </a>
    </div>
    <h3 class='text-[--subtitle] font-[lobster] text-lg m-4 text-center'>
      La Tierra Olvidada
    </h3>
    <Menu>
      <Card
        img='/img/astra/astra_book.png'
        name='Astra Starlink'
        enlace='diaries/astra_diary'
      />
      <Card
        img='/img/baren/baren_book.png'
        name='Baren Valhice'
        enlace='diaries/baren_diary'
      />
      <Card
        img='/img/enya/enya_book.png'
        name='Enya Fendor'
        enlace='diaries/enya_diary'
      />
      <Card
        img='/img/isidoro/isidoro_book.png'
        name='Isidoro Matamoros'
        enlace='diaries/isidoro_diary'
      />
      <Card
        img='/img/kenkart/kenkart_book.png'
        name='Kenkart Silkson'
        enlace='diaries/kenkart_diary'
      />
      <Card
        img='/img/kriv/kriv_book.png'
        name='Kriv Coppernico'
        enlace='diaries/kriv_diary'
      />
      <Card
        img='/img/lionel/lionel_book.png'
        name="Lion'El Jonson"
        enlace='diaries/lionel_diary'
      />
      <Card
        img='/img/nyliss/nyliss_book.png'
        name='Nyliss Avacynn'
        enlace='diaries/nyliss_diary'
      />
    </Menu>
  </main>
</Layout>

<style></style>
