---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MainTitle from "../components/MainTitle.astro";
import Menu from "../layouts/Menu.astro";
import MenuCard from "../components/MenuCard.astro";
---

<Layout title="| Diarios">
  <Header />
  <div>
    <MainTitle title="Diarios de Viaje" />
  </div>
  <Menu title="Capítulo 1" subtitle="La Tierra Olvidada">
    <MenuCard
      src="/img/baren_book.png"
      name="Baren Valhice"
      href="diaries/baren_diary"
    />
    <MenuCard
      src="/img/enya_book.png"
      name="Enya Fendor"
      href="diaries/enya_diary"
    />
    <MenuCard
      src="/img/isidoro_book.png"
      name="Isidoro Matamoros"
      href="diaries/isidoro_diary"
    />
    <MenuCard
      src="/img/kenkart_book.png"
      name="Kenkart Silkson"
      href="diaries/kenkart_diary"
    />
    <MenuCard
      src="/img/kriv_book.png"
      name="Kriv Coppernico"
      href="diaries/kriv_diary"
    />
    <MenuCard
      src="/img/nyliss_book.png"
      name="Nyliss Avacynn"
      href="diaries/nyliss_diary"
    />
  </Menu>
</Layout>

<style></style>
