---
import Layout from '../layouts/Layout.astro';

let version = '0.4.2:188';
---

<Layout title='】 Voidegon'>
  <main class='flex justify-center flex-col'>
    <h1 class='text-center md:text-8xl sm:text-6xl text-4xl'>
      Welcome to <br /> Voidegon
    </h1>
    <div class='flex mx-auto mt-20 gap-4'>
      <!-- Creative Commons -->
      <svg
        width='24'
        height='24'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke='currentColor'
        fill='none'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0'></path>
        <path
          d='M10.5 10.5c-.847 -.71 -2.132 -.658 -2.914 .116a1.928 1.928 0 0 0 0 2.768c.782 .774 2.067 .825 2.914 .116'
        ></path>
        <path
          d='M16.5 10.5c-.847 -.71 -2.132 -.658 -2.914 .116a1.928 1.928 0 0 0 0 2.768c.782 .774 2.067 .825 2.914 .116'
        ></path>
      </svg>
      <!-- Reconocimiento (BY) -->
      <svg
        width='24'
        height='24'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke='currentColor'
        fill='none'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0'></path>
        <path d='M12 7m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0'></path>
        <path
          d='M9 13v-1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-.5l-.5 4h-2l-.5 -4h-.5a1 1 0 0 1 -1 -1z'
        ></path>
      </svg>
      <!-- No Comercial (NC) -->
      <svg
        width='24'
        height='24'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke='currentColor'
        fill='none'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0'></path>
        <path d='M15 9h-4.5a1.5 1.5 0 0 0 0 3h3a1.5 1.5 0 0 1 0 3h-4.5'></path>
        <path d='M12 7v2'></path><path d='M12 15v2'></path>
        <path d='M6 6l3 3'></path>
        <path d='M15 15l3 3'></path>
      </svg>
      <!-- Compartir Igual (SA) -->
      <svg
        width='24'
        height='24'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke='currentColor'
        fill='none'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0'></path>
        <path d='M12 16a4 4 0 1 0 -4 -4v1'></path>
        <path d='M6 12l2 2l2 -2'></path>
      </svg>
    </div>
  </main>
  <footer class='absolute bottom-1 left-2'>
    <p class='text-[--gray] italic'>v_{version}</p>
  </footer>
</Layout>

<style>
  h1 {
    font-family: 'Moirai One', system-ui;
    color: var(--light);
    font-weight: 900;
  }

  body {
    overflow-y: hidden;
  }
  main {
    background: url('/img/background.png') center/cover;
    height: 100dvh;
  }

  svg {
    color: var(--white);
  }

  @media (max-width: 600px) {
    main {
      background:;
    }
    p {
      margin: 1rem;
      text-wrap: balance;
    }
  }
</style>
