---
import Layout from '../layouts/Layout.astro';
---

<Layout title='| Voidegon'>
  <main class='flex justify-center flex-col h-full'>
    <h1 class='self-center font-[unbounded] text-4xl'>Welcome to Voidegon!</h1>
    <p class='text-center mt-4 mx-4'>
      Los acertijos en la Biblioteca (#roleplay) has de resolver.
    </p>
    <p class='text-center mt-4 mx-4'>Activos: <span id='bad'>0</span></p>
  </main>
</Layout>

<style>
  body {
    overflow-y: hidden;
  }
  main {
    background: url('/img/background.png') bottom/cover;
    height: 95dvh;
  }
  h1 {
    color: var(--light);
    font-weight: 900;
  }

  @media (max-width: 600px) {
    h1 {
      text-align: center;
      margin: 1rem;
    }
    main {
      background:;
    }
    p {
      margin: 1rem;
      text-wrap: balance;
    }
  }
</style>
