---
import Layout from '../../layouts/Layout.astro';
import Weapon from '../../components/Weapon.astro';
import Spell from '../../components/Spell.astro';
---

<Layout title='】 Voidegon ▸ Extras ▸ Barbarian'>
  <h1 class='my-8 text-center text-9xl text-[--warning] font-bold'>
    ¡ESTO NO ES UN PUZZLE, <br /> ES MI ZONA DE PRUEBAS!
  </h1>
  <section class='w-[20vw] mx-auto border'>
    <Weapon name='espada corta' />
  </section>
  <Spell name='Luz' />
</Layout>
