---
interface Props {
  exp: number;
}

const { exp } = Astro.props;
let porcentaje = 0;
let level = 0;
let expUp = 0;

function medirXP(exp: number) {
  while (exp >= expUp) {
    level++;
    expUp += 300; // Incrementamos el umbral por cada nivel
  }

  return { level, expUp };
}

function medirPor(exp: number) {
  porcentaje = Math.floor((exp / expUp) * 100);
  return porcentaje;
}

medirXP(exp);
medirPor(exp);
console.log(porcentaje);
---

<article class="grid grid-cols-6 justify-around items-center">
  <section class="col-span-2 justify-self-center">
    <h6 class="text-[--title] font-[unbounded]">Monk</h6>
  </section>
  <section class="flex justify-between items-center col-span-2">
    <p class="whitespace-nowrap">Nivel {level}</p>
    <div class="bg-[--dark] w-[20vw] rounded-xl h-2 flex">
      <div class={`rounded-xl bg-[--date] w-[${porcentaje}%]`}></div>
    </div>
    <p>{exp}/{expUp}</p>
  </section>
  <section class="col-span-2 justify-self-center">
    <h6 class="text-[--subtitle] font-[unbounded]">Tiefling</h6>
  </section>
</article>

<style>
  section > * {
    margin: 0.5rem;
  }

  p {
    font-family: "caveat";
    font-weight: bold;
  }

  h6 {
    font-weight: bold;
    font-size: 1.5rem;
  }
</style>
