---

---

<header>
  <div>
    <img src="/logo.png" alt="Logotype" />
    <h1>Voidegon</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/diaries">Diarios</a></li>
      <li><a href="/characters">Personajes</a></li>
      <li><a href="/map">Mapa</a></li>
    </ul>
  </nav>
</header>

<style></style>
