---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
	class='flex justify-between hover:shadow-xl sticky top-0 bg-[--dark] z-50'
>
	<div>
		<a class={currentPath === '' ? 'active' : ''} href='/'>
			<img src='/logo.png' alt='Logotype' class='w-auto h-10' />
			<h1 class='text-2xl font-bold mx-4 text-[--light]'>Voidegon</h1>
		</a>
	</div>
	<nav
		class='flex justify-between items-center text-base text-[--light] font-medium'
	>
		<a href='/menu' transition:animate='slide'>
			<svg
				class='hidden'
				width='30'
				height='30'
				viewBox='0 0 24 24'
				stroke-width='2'
				stroke='currentColor'
				fill='none'
				stroke-linecap='round'
				stroke-linejoin='round'
			>
				<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
				<path d='M4 6l16 0'></path>
				<path d='M4 12l16 0'></path>
				<path d='M4 18l16 0'></path>
			</svg>
		</a>
		<ul>
			<li>
				<a
					class={currentPath.includes('diaries') ? 'active' : ''}
					href='/diaries'
				>
					Diarios
				</a>
			</li>
			<li>
				<a
					class={currentPath.includes('characters') ? 'active' : ''}
					href='/characters'
				>
					Personajes
				</a>
			</li>
			<li>
				<a
					class={currentPath.includes('maps') ? 'active' : ''}
					href='/maps'
				>
					Mapas
				</a>
			</li>
			<li>
				<a
					class={currentPath.includes('extras') ? 'active' : ''}
					href='/extras'
				>
					Extras
				</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	header,
	ul > li {
		padding: 0.5rem 1rem;
		transition: transform 150ms ease-out;
	}
	header > div > a,
	header > nav > ul {
		display: flex;
		align-items: center;
	}
	a:hover {
		color: var(--white);
	}
	.active {
		font-weight: bold;
		color: var(--light);
		transform: none;
	}
	.active:hover {
		color: var(--light);
		transform: none;
	}

	li:hover {
		transform: scale(1.05);
	}

	@media screen and (max-width: 620px) {
		header svg {
			display: block;
		}
		header nav ul {
			display: none;
		}
	}
</style>
