---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class={`
    flex justify-between hover:shadow-lg
    sticky top-0 bg-[--dark]
    z-50 p-2 pr-4
  `}
>
  <div>
    <a class={currentPath === '' ? 'active' : ''} href='/'>
      <img src='/logo.png' alt='Logotype' class='w-auto h-10' />
      <h1 class='text-2xl mx-4'>Voidegon</h1>
    </a>
  </div>
  <nav>
    <!-- Menu Hamburguesa -->
    <a href='/menu'>
      <svg
        class='hidden'
        width='30'
        height='30'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke='currentColor'
        fill='none'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M4 6l16 0'></path>
        <path d='M4 12l16 0'></path>
        <path d='M4 18l16 0'></path>
      </svg>
    </a>
    <!-- Menu -->
    <ul class='gap-8'>
      <li>
        <a class={currentPath.includes('files') ? 'active' : ''} href='/files'>
          Archivos
        </a>
      </li>
      <li>
        <a
          class={currentPath.includes('characters') ? 'active' : ''}
          href='/characters'
        >
          Personajes
        </a>
      </li>
      <li>
        <a class={currentPath.includes('maps') ? 'active' : ''} href='/maps'>
          Mapa
        </a>
      </li>
      <li>
        <a
          class={currentPath.includes('extras') ? 'active' : ''}
          href='/extras'
        >
          Extras
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  h1 {
    font-family: 'Moirai One', system-ui;
    color: var(--light);
    font-weight: 900;
  }
  nav {
    font-family: 'Lexend', system-ui;
    color: var(--white);
    font-weight: 600;
  }
  nav a:hover {
    color: var(--light);
  }

  .active {
    color: var(--light);
  }

  header > div > a,
  header > nav > ul,
  header > nav {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 620px) {
    header svg {
      display: block;
    }
    header nav ul {
      display: none;
    }
  }
</style>
