---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class="flex justify-between hover:shadow-xl sticky top-0 bg-[--dark] z-50"
>
  <div>
    <a class={currentPath === "" ? "active" : ""} href="/">
      <img src="/logo.png" alt="Logotype" class="w-auto h-10" />
      <h1 class="text-xl font-bold mx-4 text-[--light]">Voidegon</h1>
    </a>
  </div>
  <nav class="text-base text-[--light] font-medium">
    <ul>
      <li>
        <a
          class={currentPath.includes("diaries") ? "active" : ""}
          href="/diaries">Diarios</a
        >
      </li>
      <li>
        <a
          class={currentPath.includes("characters") ? "active" : ""}
          href="/characters">Personajes</a
        >
      </li>
      <li>
        <a class={currentPath.includes("map") ? "active" : ""} href="/map"
          >Mapas</a
        >
      </li>
      <li>
        <a class={currentPath.includes("extras") ? "active" : ""} href="/extras"
          >Extras</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  header,
  ul > li {
    padding: 0.5rem 1rem;
  }
  header > div > a,
  header > nav > ul {
    display: flex;
    align-items: center;
  }
  a:hover {
    color: var(--white);
  }
  .active {
    font-weight: bold;
    color: var(--light);
  }
  .active:hover {
    color: var(--light);
  }

  @media (max-width: 600px) {
    header > * {
      margin: 0 auto;
    }
    header {
      flex-direction: column;
      margin-top: 1rem;
    }
    ul li {
      padding: 3.7vw;
    }
  }
</style>
