---
interface Props {
  clase: string;
  level: number;
  exp: number;
}

const { clase, level, exp } = Astro.props;
---

<section class="flex justify-around w-full bg-[--gray] p-4">
  <div class="flex">
    <h6 class="text-[--subtitle]">Tiefling Monje Nivel 2</h6>
    <p class="font-[caveat]"></p>
  </div>
</section>

<style>
  div > * {
    margin: 0.5rem;
  }
</style>
