---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<main>
  <div class="flex h-[30vh] justify-center items-center">
    <h1
      class="font-extrabold text-4xl font-[unbounded] text-[--light] mx-4 text-center"
    >
      {title}
    </h1>
  </div>
</main>

<style>
  div {
    background-color: #333;
  }
  h1 {
    text-wrap: balance;
  }
</style>
