---
interface Props {
  src: string;
  href: string;
  name: string;
}

const { src, href, name } = Astro.props;
---

<div class="flex justify-center items-center flex-col">
  <a href={href}>
    <img src={src} class="rounded-lg size-[7cm]" />
  </a>
  <h3 class="my-4 font-[caveat] font-semibold">{name}</h3>
</div>
