---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<section>
  <h1
    class='text-5xl font-[unbounded] text-[--title] text-center m-4 font-bold uppercase'
  >
    〚 {name} 〛
  </h1>
</section>
