---
interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<section class='text-center p-2 w-[80vw] mx-auto'>
  <h1
    class={`
			text-[--title] font-["new_rocker"] text-4xl font-bold
			m-2 capitalize
		`}
  >
    {title}
  </h1>
  <h2
    class={`
			text-[--subtitle] font-["grenze_gotisch"] text-lg font-medium
			m-2 capitalize
		`}
  >
    {subtitle}
  </h2>
</section>
