---
interface Props {
	title: string;
	subtitle?: string;
	color?: string;
}

const { title, subtitle, color = 'title' } = Astro.props;
---

<section class='text-center p-4 pt-1'>
	<h1 class={`text-[--${color}] font-[pacifico] text-2xl my-4`}>
		{title}
	</h1>
	<h2 class='text-[--subtitle] font-[lobster] text-lg my-4'>{subtitle}</h2>
</section>
