---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// Map Components
import Nivel from '@/components/map/Nivel.astro';
---

<Layout title='】 Voidegon ▸ Murcia ▸ Forja'>
  <main>
    <Name name='Forja' />
    <article
      class={`
				w-[80vw] mx-auto
			`}
    >
      <Nivel nivel={1} />
    </article>
  </main>
</Layout>
