---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// Map Components
import Stars from '@/components/map/Stars.astro';
---

<Layout title='】 Voidegon ▸ Murcia ▸ Biblioteca'>
  <main>
    <Name name='Biblioteca' />
    <article
      class={`
				w-[80vw] mx-auto
			`}
    >
      <Stars level={0} max_level={1} />
    </article>
  </main>
</Layout>
