---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Amistad from '@/components/personaje/pnj/Amistad.astro';
// Importar los datos de los PNJs
import pnj from '@/data/personajes/pnjs/pnjs.json';
import Retrato from '@/components/personaje/pnj/Retrato.astro';
// Buscar a Almawrid en la lista de PNJs
const almawrid = pnj.find((personaje: any) => personaje.nombre === 'Almawrid');
---

<Layout title='】 Voidegon ▸ Almawrid'>
  <Name name={almawrid?.nombre + ' ' + almawrid?.apellido} />
  <main
    class={`
				w-[80vw] mx-auto
			`}
  >
    <article
      class={`
        grid grid-cols-3
      `}
    >
      <section class='col-span-1 col-start-2'>
        <Retrato img='/img/npc/almawrid/almawrid.png' />
      </section>
      <section class='col-span-1 row-start-2 col-start-2'>
        <Amistad amistad={almawrid?.amistad} />
      </section>
    </article>
  </main>
</Layout>

<style>
  section {
    padding: 0.25rem;
  }
</style>
