---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Hearts from '@/components/character/npc/Hearts.astro';
---

<Layout title='】 Voidegon ▸ Almawrid'>
	<main>
		<Name name='Almawrid' />
		<article
			class={`
				w-[80vw] mx-auto
			`}
		>
			<Hearts level={3} max_level={8} />
		</article>
	</main>
</Layout>
