---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Hearts from '@/components/character/npc/Hearts.astro';
---

<Layout title='】 Voidegon ▸ Azrael'>
  <main>
    <Name name='Azrael' />
    <article
      class={`
				w-[80vw] mx-auto
			`}
    >
      <Hearts level={0} max_level={3} />
    </article>
  </main>
</Layout>
