---
import Layout from '../../../layouts/Layout.astro';
import Title from '../../../components/Title.astro';
---

<Layout title='】 Voidegon ▸ Rel'>
  <Title title='RR' center='center' />
  <main>
    <p class='text-center mt-[500vh]'><span id='hint'>D. E. P.</span></p>
  </main>
</Layout>
