---
import Layout from '../../../layouts/Layout.astro';
import Title from '../../../components/Title.astro';
---

<Layout title='】 Voidegon ▸ Rel'>
  <Title title='Rel' center='center' />
  <main></main>
</Layout>
