---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Hearts from '@/components/character/npc/Hearts.astro';
import Portrait from '@/components/character/npc/Portrait.astro';
---

<Layout title='】 Voidegon ▸ Tir'>
	<Name name='Tir' />
	<article
		class={`
      w-[80vw] mx-auto
      grid grid-cols-6 gap-2
    `}
	>
		<sectionn class='col-span-6'>
			<Hearts level={2} />
		</sectionn>
		<section class='col-span-2'>
			<h3>Dwarf</h3>
		</section>
		<section class='col-span-2 row-span-3'>
			<Portrait src='/img/npc/tir/tir.png' alt='Tir' />
		</section>
		<section class='col-span-2'>
			<div>
				<h3></h3>
			</div>
		</section>
		<!-- <section class='col-span-4'>
        <p>
          El ██████ enano ████ ██████ █████ ██████ ███ █████ ██████████, ██████
          de ██████ ██████, ████████████ y ██████. Su historia es ████████ en
          ██████ los ██████ ███ ██████████. Es el enano ████████████ ██████
          ████████████ ██████.
        </p>
      </section> -->
		<section class='col-span-2'>
			<div>
				<h3>Blacksmith</h3>
			</div>
		</section>
		<section class='col-span-2'>
			<div>
				<h3></h3>
			</div>
		</section>
		<!-- <section class='col-span-4'>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, dolor
          vitae perferendis, at commodi consequatur provident saepe laborum
          voluptate aliquam iusto quasi quibusdam cumque iure accusamus. Quos
          excepturi amet commodi.
        </p>
      </section> -->
		<section class='col-span-2'>
			<div>
				<h3>70 kg</h3>
			</div>
		</section>
		<section class='col-span-2'>
			<div>
				<h3>127 cm</h3>
			</div>
		</section>
	</article>
</Layout>

<style>
	section:has(h3) {
		background-color: var(--gray);
		border-radius: 0.5rem;

		display: flex;
		align-items: center;
		justify-content: center;

		font-family: 'lobster';
		color: var(--subtitle);

		cursor: default;
	}
	/* section:has(h3):hover {
		background-color: var(--black);
	} */
</style>
