---
import Layout from "../../../layouts/Layout.astro";
import Title from "../../../components/Title.astro";
import Name from "../../../components/Name.astro";
---

<Layout title="| Var">
  <Title title="Var" img="/img/npc/tir/var/bg_var.png" center="center" />
  <main
    class={`
    w-[80vw] mx-auto
    grid grid-cols-6 gap-4 auto-rows-auto
    mt-4
  `}
  >
    <div class="col-span-6 row-span-1">
      <Name name="The Mad Alchemist" />
    </div>
    <div class="lg:col-span-2 lg:row-span-5 md:col-span-3 col-span-6">
      <img
        src="/img/npc/tir/var/var.png"
        alt="Var"
        class="rounded-xl w-full h-full"
      />
    </div>
    <div class="col-span-2 row-span-1">
      <h3 class="p-4 text-[--subtitle] font-[lobster]">Dwarf</h3>
    </div>
    <div class="col-span-2 row-span-1">
      <h3 class="p-4 text-[--subtitle] font-[lobster]">372 años</h3>
    </div>
    <div class="col-span-4 row-span-1">
      <p class="p-4 px-8">
        [Es uno de los <span id="group">Seis Enanos</span>, las pociones que
        crea tienen "la tendencia de generar pares de burbujas que ascienden
        hasta lo más alto de la superficie." ████████ ██████████ █████████
        ███████████]
      </p>
    </div>
    <div class="col-span-2 row-span-1">
      <h3 class="p-4 text-[--subtitle] font-[lobster]">Alchemist</h3>
    </div>
    <div class="col-span-2 row-span-1">
      <h3 class="p-4 text-[--subtitle] font-[lobster]">Caótico Neutro</h3>
    </div>
    <div class="col-span-4 row-span-1">
      <p class="p-4 px-8">
        Este enano anciano presenta un rostro marcado por numerosas arrugas y
        dos cejas pelirrojas densas, casi ocultando sus ojos entre ellas. La
        calvicie es evidente, y su barba sigue la misma tonalidad. Viste con
        harapos largos que se asemejan a un manto descosido, y su apariencia
        refleja un aire de excentricidad.
      </p>
    </div>
    <div class="col-span-2 row-span-1">
      <h3 class="p-4 text-[--subtitle] font-[lobster]">62 Kilos</h3>
    </div>
    <div class="col-span-2 row-span-1">
      <h3 class="p-4 text-[--subtitle] font-[lobster]">1.18 Metros</h3>
    </div>
  </main>
</Layout>

<style>
  main > div {
    display: flex;
    cursor: default;
    background-color: var(--gray);
    transition: transform 300ms ease;
    border-radius: 0.75rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  main > div:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  p {
  }
</style>
