---
interface Props {
  level?: number;
  max_level?: number;
}

const { level = 0, max_level = 5 } = Astro.props;

let filled = [
  false,
  false,
  false,
  false,
  false,
  false,
  false,
  false,
  false,
  false,
];
let blocked = [true, true, true, true, true, true, true, true, true, true];
for (let i = 0; i < level && i < filled.length; i++) {
  filled[i] = true;
}
for (let i = 0; i < max_level && i < blocked.length; i++) {
  blocked[i] = false;
}

console.log(filled);
console.log(blocked);
---

<article class='bg-[--gray] p-2 rounded-lg mt-2'>
  <div
    class={`
      bg-[--dark] rounded-lg
      flex gap-2 justify-around
    `}
  >
    <section>
      <svg
        width='50'
        height='50'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke={blocked[0] ? 'var(--gray)' : 'currentColor'}
        fill={filled[0] ? 'gold' : 'none'}
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path
          d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z'
        ></path>
      </svg>
    </section>
    <section>
      <svg
        width='50'
        height='50'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke={blocked[1] ? 'var(--gray)' : 'currentColor'}
        fill={filled[1] ? 'gold' : 'none'}
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path
          d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z'
        ></path>
      </svg>
    </section>
    <section>
      <svg
        width='50'
        height='50'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke={blocked[2] ? 'var(--gray)' : 'currentColor'}
        fill={filled[2] ? 'gold' : 'none'}
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path
          d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z'
        ></path>
      </svg>
    </section>
    <section>
      <svg
        width='50'
        height='50'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke={blocked[3] ? 'var(--gray)' : 'currentColor'}
        fill={filled[3] ? 'gold' : 'none'}
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path
          d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z'
        ></path>
      </svg>
    </section>
    <section>
      <svg
        width='50'
        height='50'
        viewBox='0 0 24 24'
        stroke-width='2'
        stroke={blocked[4] ? 'var(--gray)' : 'currentColor'}
        fill={filled[4] ? 'gold' : 'none'}
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path
          d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z'
        ></path>
      </svg>
    </section>
  </div>
</article>

<style>
  section {
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;

    display: flex;
    justify-content: center;

    border-right: solid 2px var(--gray);
  }
  svg {
    color: gold;
  }
</style>
