---
interface Props {
	title: string;
	color?: string;
}

const { title, color = 'title' } = Astro.props;
---

<details
	class={`
    w-[80vw] mx-auto
    bg-[--gray] rounded-lg
    open:pb-4 my-4 
  `}
>
	<summary
		class={`
      cursor-pointer text-center list-none transition-colors
      hover:bg-[--black] py-4 
    `}
	>
		<h1
			class='font-["new_rocker"] text-4xl capitalize font-bold'
			style={`color: var(--${color});`}
		>
			{title}
		</h1>
		<hr class='w-[75vw] mx-auto -mt-1 border-[--grey]' />
	</summary>
	<p class='text-justify font-[nunito] px-10 font-medium mt-2'>
		<slot />
	</p>
</details>

<style>
	details[open] summary {
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
	details:not([open]) summary {
		border-radius: 0.5rem;
	}
	details[open] summary:hover {
		background: linear-gradient(var(--black) 90%, var(--gray));
	}
</style>
