---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mb-14">
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Caveat&family=Lexend&family=Lobster&family=Pacifico&family=Unbounded:wght@400;900&display=swap");
  :root {
    --dark: #212121;
    --light: #fff;
    --white: #ccc;
    --title: #25d366;
    --subtitle: #f89d1f;
    --section: #00a1b9;
    --warning: #ff5349;
  }
  html {
    font-family: "Lexend";
    background: var(--dark);
    color: var(--white);
  }
</style>
