---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<article>
  <section class="text-center p-4">
    <h1 class="text-[--title] font-[pacifico] text-2xl">{title}</h1>
    <h2 class="text-[--subtitle] font-[lobster] text-lg">{subtitle}</h2>
  </section>
  <section class="grid p-4 mx-auto lg:mx-32 lg:grid-cols-4 gap-2">
    <slot />
  </section>
</article>

<style>
  section > * {
    padding: 0.5rem;
  }
  #grid-start:nth-child(5) {
    grid-column-start: 2;
  }
</style>
