---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<article>
  <section class="text-center p-4">
    <h1 class="text-[--title] font-[pacifico] text-2xl">{title}</h1>
    <h2 class="text-[--subtitle] font-[lobster] text-lg">{subtitle}</h2>
  </section>
  <section class="flex flex-wrap lg:mx-32 gap-8 m-4 px-4 justify-center">
    <slot />
  </section>
</article>

<style>
  section > * {
    padding: 0.5rem;
  }
</style>
