---
interface Props {
  bon_com: number;
  com?: Array<string>;
}
const { bon_com, com = [] } = Astro.props;

function printCom() {
  const result = com.join(', ');
  return `${result}${result.length > 0 ? '.' : ''}`;
}
---

<section
  class={`
    bg-[--gray] rounded-lg px-4
    flex items-center
    w-full h-full
  `}
>
  <div class='bg-[--dark] rounded-lg p-4 gap-2'>
    <h3 class='text-[--event] font-[pacifico] text-2xl text-center'>
      +{bon_com}
    </h3>
  </div>
  <p class='mx-4 capitalize'>{printCom()}</p>
</section>
