---
interface Props {
	txt: string;
	block?: boolean;
}
const { txt, block = false } = Astro.props;

let color = 'subtitle';

if (block) {
	color = 'grey';
}
---

<h1
	class='font-["lobster_two"] font-bold text-xl text-center'
	style={`color: var(--${color})`}
>
	{txt}
</h1>
