---
interface Props {
	hp: number;
	hpmax: number;
}

const { hp, hpmax } = Astro.props;

let porcentaje = 0;
function calcularPorcentaje(hp: number) {
	porcentaje = Math.floor((hp / hpmax) * 100);
	return porcentaje;
}

calcularPorcentaje(hp);
---

<section
	class={`
		flex justify-center items-center
		p-2 bg-[--gray] rounded-lg
	`}
>
	<div class='w-full bg-[--dark] rounded-lg'>
		<div
			class='bg-red-600 text-xs font-bold font-[pacifico] text-[--gray] text-center rounded-lg'
			style={`width: ${porcentaje}%`}
		>
			{hp} | {hpmax}
		</div>
	</div>
</section>
