---
interface Props {
	hp: number;
	hpmax: number;
}

const { hp, hpmax } = Astro.props;

let porcentaje = 0;
function calcularPorcentaje(hp: number) {
	porcentaje = Math.floor((hp / hpmax) * 100);
	return porcentaje;
}

calcularPorcentaje(hp);
---

<section class='flex justify-center items-center h-full'>
	<div class='w-full bg-[--gray] rounded-full mx-auto'>
		<div
			class='bg-[--warning] text-xs font-medium text-[--light] text-center p-1 leading-none rounded-full animate-pulse'
			style={`width: ${porcentaje}%`}
		>
			{hp}/{hpmax}
		</div>
	</div>
</section>
