---
interface Props {
	dark?: boolean;
}

const { dark } = Astro.props;

let bg_color = 'dark',
	border_color = 'gray';
// dark mode
if (dark) {
	bg_color = 'gray';
	border_color = 'dark';
}
---

<div
	class={`
		w-full h-full
		rounded-lg p-2 m-2
	`}
	style={`background-color: var(--${bg_color});`}
>
	<hr
		class='w-[75vw] mx-auto border-2 rounded-full'
		style={`border-color: var(--${border_color});`}
	/>
</div>
